@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~bootstrap/dist/css/bootstrap.min.css';


body {
  @apply font-mono
}

[data-theme="dark"] body {
  background-color: #000;
  color: white;
}

.tag{
  @apply rounded-md border-2 p-1 mr-1 text-xs 
}

.nav_right_item{
  @apply flex flex-row ml-auto gap-4 mr-2 p-2
}


.Profile {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: green;
}

.container{
  max-width: 1140px; /* Adjust the maximum width as per your design */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px; /* Adjust the padding as per your design */
  padding-right: 15px; /* Adjust the padding as per your design */
}